<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="RemotePath" value="\\192.168.10.20\Anilox\Captures"/>
        <add key="LocalPath" value="D:\Anilox\Captures"/>
        <add key="ProbeIntervalMs" value="5000"/>
    </appSettings>
</configuration>
