<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="PLC_IP" value="192.168.255.1"/>
        <add key="PLC_Port" value="502"/>
        <add key="PollIntervalMs" value="500"/>
        <add key="ConnectTimeoutMs" value="5000"/>
        <add key="ReconnectTimeoutMs" value="3000"/>
        <add key="ReconnectIntervalMs" value="5000"/>
        <add key="ReadWriteTimeoutMs" value="2000"/>
    </appSettings>
</configuration>
